.movie-infos {
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  padding: 15px 50px;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(23, 25, 26) 0%, rgba(16,19,24,1) 91%, rgba(5,8,14,1) 100%);
}

.movie-infos__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #323439;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.movie-infos__tabs--active {
  width: 15%;
  p {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #1dd941;
    cursor: pointer;
  }
}

.movie-infos__tabs--disable {
  width: 15%;
  p {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 0;
    cursor: pointer;
  }
}

.movie-infos__tabs--awards {
  width: 65%;
  p {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
}

.movie-infos__logo {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    height: 20px;
    padding-bottom: 5px;
  }
}