.episode-list {
  width: 30vw;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 100px 50px 0 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(transparent,0) 0%, rgba(5,8,14,0.5) 100%);
  @media (max-width: 576px) {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    padding: 30px 25px 30px;
    height: auto;
  }
}

.episode-list__header {
  display: flex;
  border-bottom: 1px solid #414347;
}

.episode-list__header--active, .episode-list__header--disable {
  p {
    display: inline-block;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 10px;
  }
}

.episode-list__header--active {
  p {
    border-bottom: 1px solid #1dd941;
  }
}

.episode-list__content {
  overflow: auto;
  height: 80%;
  &::-webkit-scrollbar { 
    display: none; 
  }
}