.movie-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.movie-general__action {
  width: 28%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-general__button {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 35px;
    height: 35px;
    border: 1px solid #323439;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323439;
    font-size: 16px;
  }
  p {
    font-size: 10px;
    color: #323439;
    margin-bottom: 0;
  }
}

.movie-general__synopsis {
  width: 70%;
  h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 300;
  }
  p {
    margin-top: 0;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}
