.movie-cast {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70%; }

.movie-cast__box {
  display: flex;
  background: #323439;
  height: 70px;
  width: 150px;
  margin: 0 20px 0 0;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300; }
