.movie-cast {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70%; }
  @media (max-width: 576px) {
    .movie-cast {
      height: auto;
      flex-wrap: wrap;
      padding-top: 10px; } }

.movie-cast__box {
  display: flex;
  background: #323439;
  height: 70px;
  width: 150px;
  margin: 0 20px 0 0;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300; }
  @media (max-width: 576px) {
    .movie-cast__box {
      width: 100%;
      margin: 10px 0;
      height: 50px; } }
