.background {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background__image {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  right: 0;
  top: 0;
  @media (max-width: 576px) {
    right: auto;
    right: -60%;
  }
}